*{  box-sizing: border-box;}
:root{ --main-color: #23b347}
.container{ width: 1450px; padding: 0 15px; margin: auto }
body{ font-family: 'Open Sans', sans-serif }
/*    -----start lading-page ------ */
.landing-page{
    min-height: 100vh;
    background-image: url("../img/img1.jpg");
    background-size: cover;
    position: relative;
}
.overlay{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    z-index: 1;
}
nav{
    position: relative;
    color: #fff;
    z-index: 2;
    display: flex;
    padding: 5px;
}
nav .logo{
    width: 300px;
    padding: 20px;
    padding-left: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
nav .links{
    list-style: none;
    text-align: right;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
    
}
nav .links li{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
}
nav .links li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
nav .links li a:hover,
nav .links li a.active{
    color: var(--main-color);
    transition: .3s;
}
.intro-txt{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 2;
    transform: translate(-50%, -50%);
    text-align: center;
}
.intro-txt h1{ font-size: 60px; text-shadow: 2px 2px #000; }
.intro-txt h1 span{color: var(--main-color) }
.intro-txt p{font-size: 20px; line-height: 1.5 }
/*    -----end lading-page ------ */



/*    -----start setting box ------ */
.sitting-box{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    min-height: 100vh;
    background-color: var(--main-color);
    opacity: .6;
    z-index: 3;
    transition: all .3s ease-in-out;
}
.sitting-box .toggle-cog{
    position: absolute;
    right: -40px;
    top: 80px;
    font-size: 20px;
    background-color: var(--main-color);
    text-align: center;
    cursor: pointer;
}
.sitting-box .toggle-cog .fa-cog{ padding: 8px 0; width: 40px }
.open{ left: 0px }
.sitting-box .setting-container{ padding: 20px }
.sitting-box .option-box{
    margin-top: 17px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
}
.sitting-box .option-box h4{
    color: #000;
    margin: 0;
    font-size: 18px;
    padding:0 0 5px 10px;
}
.sitting-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.sitting-box .colors-list li{
    width: 25px;
    height: 25px;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.sitting-box .colors-list li.active{ opacity: 1; border: 2px solid #000;} 
.sitting-box .colors-list li:first-child{ background-color: #23b347;}
.sitting-box .colors-list li:nth-child(2){ background-color: #df841b;}
.sitting-box .colors-list li:nth-child(3){ background-color: #1bdfb5;}
.sitting-box .colors-list li:nth-child(4){ background-color: #426fcf;}
.sitting-box .colors-list li:nth-child(5){ background-color: #b244dd;}

.sitting-box .random .yes,
.sitting-box .random .no{
    width: 50px;
    background-color: #444;
    color: #fff;
    padding: 4px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    opacity:.8;
    border-radius: 5px;
    box-shadow: 3px 3px 2px#0009;
    border: 2px solid #000;
    margin: 5px 10px;
    cursor: pointer;
}
.sitting-box .option-box button.active{ opacity: 1; background-color: #030c03; border: 2px solid #fff; box-shadow: -3px -1px 2px#0009, 3px 1px 2px#0009; }
/*    -----end setting box ------ */

/*   -----start about us ----  */
.about-us{ padding: 50px 0; display: flex }
.about-us .info-box{ flex: 1; padding: 20px }
.about-us .info-box h2{ font-weight: bold; font-size: 30px; color: var(--main-color) }
.about-us .info-box p{
    line-height: 1.8;
    font-size: 20px;
    color: #383838;
    margin: 0;
}
.about-us .image-box{ flex: 1; text-align: center; padding: 20px }
.about-us .image-box img{
    width: 350px;
    background-color: var(--main-color);
    text-shadow: 10px 10px 5px #fff;
    color: #33afdf;
    border-width: 0 4px 2px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 10px 10px 10px;
    border-radius: 20px 120% 110%;
    opacity: .8;
}
/*  ------end about us ------  */

/*  ------start skills ----  */
.skills{ padding: 50px 0; background-color: #444;}
.skills .skls{padding: 20px}
.skills h2{font-weight: bold; font-size: 30px; color: var(--main-color); padding-bottom: 40px;}
.skills .skills-box{
    background-color: #fff;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}
.skills .skills-box .skill-name{
    font-weight: bold;
    width: 100px;
    text-align: center;
    line-height: 30px;
}
.skills .skills-box .skill-progress{
    height: 30px;
    width: 100%;
    background-color: #ddd;
}