*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{ --main-color: #23b347}
.container{ width: 1170px; padding: 0 15px; margin: auto }
body{ font-family: 'Open Sans', sans-serif }
/*    -----start btn-open ------ */
.pp{margin: 0;}
.btn-open   {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--main-color);
    box-shadow: 0 0 7px rgba(0,0,0,0.7);
    z-index: 20;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.ligne {
    width: 40px;
    height: 4px;
    border-radius: 5px;
    position: fixed;
    background: #333;
    right: 40px;
    top: 58px;
    z-index: 50;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
.ligne::before {
    content: '';
    position: absolute;
    top: 10px;
    height: 4px;
    border-radius: 5px;
    width: 100%;
    background: #333;
    transition: all 0.2s ease-in-out;
}
.ligne::after {
    content: '';
    position: absolute;
    bottom: 10px;
    height: 4px;
    border-radius: 5px;
    width: 100%;
    background: #333;
    transition: all 0.2s ease-in-out;
}

.ligne.activ-ligne::before {
    top: 0;
}
.ligne.activ-ligne::after {
    bottom: 0;
    transform: rotate(90deg)
}
.items {
    position: fixed;
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.items:hover{
    width: 90px;
    height: 90px;
    transition: all .3s ease-in-out;
}
.icones {
    width: 35px;
}
.icones:hover {
    width: 45px;
    transition: all .3s ease-in-out;
}


.items:nth-child(2){
    right: 320px;
    top: 40px;
}

.items:nth-child(3){
    right: 275px;
    top: 150px;
}

.items:nth-child(4){
    right: 185px;
    top: 240px;
}

.items:nth-child(5){
    right: 70px;
    top: 300px;
}
/* animation */ 
.activ {
    transform: scale(10);
    opacity: .9;
}
.apparition {
    visibility: visible;
}
.real {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
/*    -----end btn-open ------ */

/*    -----start lading-page ------ */
.landing-page{
    min-height: 100vh;
    background-image: url("../img/img1.jpg");
    background-size: cover;
    position: relative;
}
.overlay{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    z-index: 1;
}
nav{
    position: relative;
    color: #fff;
    z-index: 2;
    display: flex;
    padding: 5px;
}
nav .logo{
    width: 300px;
    padding: 20px;
    padding-left: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
nav .links{
    list-style: none;
    text-align: right;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
    
}
nav .links li{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
}
nav .links li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
nav .links li a:hover,
nav .links li a.active{
    color: var(--main-color);
    transition: .3s;
}
.intro-txt{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 2;
    transform: translate(-50%, -50%);
    text-align: center;
}
.intro-txt h1{ font-size: 60px; text-shadow: 2px 2px #000; }
.intro-txt h1 span{color: var(--main-color) }
.intro-txt p{font-size: 20px; line-height: 1.5 }

/*    -----end lading-page ------ */



/*    -----start setting box ------ */
.sitting-box{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    min-height: 100vh;
    background-color: var(--main-color);
    opacity: .6;
    z-index: 3;
    transition: all .3s ease-in-out;
}
.sitting-box .toggle-cog{
    position: absolute;
    right: -40px;
    top: 80px;
    font-size: 20px;
    background-color: var(--main-color);
    text-align: center;
    cursor: pointer;
}
.sitting-box .toggle-cog .fa-cog{ padding: 8px 0; width: 40px; cursor: pointer; }
.open{ left: 0px }
.sitting-box .setting-container{ padding: 20px }
.sitting-box .option-box{
    margin-top: 17px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
}
.sitting-box .option-box h4{
    color: #000;
    margin: 0;
    font-size: 18px;
    padding:0 0 5px 10px;
}
.sitting-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.sitting-box .colors-list li{
    width: 25px;
    height: 25px;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.sitting-box .colors-list li.active{ opacity: 1; border: 2px solid #000;} 
.sitting-box .colors-list li:first-child{ background-color: #23b347;}
.sitting-box .colors-list li:nth-child(2){ background-color: #df841b;}
.sitting-box .colors-list li:nth-child(3){ background-color: #1bdfb5;}
.sitting-box .colors-list li:nth-child(4){ background-color: #426fcf;}
.sitting-box .colors-list li:nth-child(5){ background-color: #b244dd;}

.sitting-box .random .yes,
.sitting-box .random .no{
    width: 50px;
    background-color: #444;
    color: #fff;
    padding: 4px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    opacity:.8;
    border-radius: 5px;
    box-shadow: 3px 3px 2px#0009;
    border: 2px solid #000;
    margin: 5px 10px;
    cursor: pointer;
}
.sitting-box .option-box button.active{ opacity: 1; background-color: #030c03; border: 2px solid #fff; box-shadow: -3px -1px 2px#0009, 3px 1px 2px#0009; }
/*    -----end setting box ------ */

/*   -----start about us ----  */
.about-us{ padding: 50px 0; display: flex }
.about-us .info-box{ flex: 1; padding: 20px }
.about-us .info-box h2{ font-weight: bold; font-size: 30px; color: var(--main-color) }
.about-us .info-box p{
    line-height: 1.8;
    font-size: 20px;
    color: #383838;
    margin: 0;
}
.about-us .image-box{ flex: 1; text-align: center; padding: 20px }
.about-us .image-box img{
    width: 350px;
    background-color: var(--main-color);
    text-shadow: 10px 10px 5px #fff;
    color: #33afdf;
    border-width: 0 4px 2px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 10px 10px 10px;
    border-radius: 20px 120% 110%;
    opacity: .8;
}
/*  ------end about us ------  */

/*  ------start skills ----  */
.skills{ padding: 50px 0; background-color: #444;}

.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    text-align: center; 
    padding-bottom: 40px;
}
.skills .skills-box{
    background-color: #fff;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}
.skills .skills-box .skill-name{
    font-weight: bold;
    width: 100px;
    text-align: center;
    line-height: 30px;
}
.skills .skills-box .skill-progress{
    height: 30px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}
.skills .skills-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s ease-in-out;
}

/*  button ----*/

.fixImage{
    background: url("../img/img1.jpg") no-repeat fixed center;
    background-size: cover;
    padding: 8em 0;
    position: relative;
}
.fixImage .over{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    z-index: 0;
}
.fixImage .container{z-index: 3;position: relative;}

.frame {
width: 90%;
margin: 40px auto;
text-align: center;
}
button {
margin: 20px;
}
.custom-btn {
width: 130px;
height: 40px;
color: #fff;
border-radius: 5px;
padding: 10px 25px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
outline: none;
}
.btn-3 {
background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
width: 130px;
height: 40px;
line-height: 42px;
padding: 0;
border: none;
}
.btn-3 span {
position: relative;
display: block;
width: 100%;
height: 100%;
}
.btn-3:before,
.btn-3:after {
position: absolute;
content: "";
right: 0;
top: 0;
background: rgba(2,126,251,1);
transition: all 0.3s ease;
}
.btn-3:before {
height: 0%;
width: 2px;
}
.btn-3:after {
width: 0%;
height: 2px;
}
.btn-3:hover{
    background: transparent;
box-shadow: none;
}
.btn-3:hover:before {
height: 100%;
}
.btn-3:hover:after {
width: 100%;
}
.btn-3 span:hover{
    color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
position: absolute;
content: "";
left: 0;
bottom: 0;
    background: rgba(2,126,251,1);
transition: all 0.3s ease;
}
.btn-3 span:before {
width: 2px;
height: 0%;
}
.btn-3 span:after {
width: 0%;
height: 2px;
}
.btn-3 span:hover:before {
height: 100%;
}
.btn-3 span:hover:after {
width: 100%;
}
.btn-12{
position: relative;
right: 20px;
bottom: 20px;
border:none;
box-shadow: none;
width: 130px;
height: 40px;
line-height: 42px;
-webkit-perspective: 230px;
perspective: 230px;
}
.btn-12 span {
background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
display: block;
position: absolute;
width: 130px;
height: 40px;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
border-radius: 5px;
margin:0;
text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.btn-12 span:nth-child(1) {
box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
-webkit-transform: rotateX(90deg);
-moz-transform: rotateX(90deg);
transform: rotateX(90deg);
-webkit-transform-origin: 50% 50% -20px;
-moz-transform-origin: 50% 50% -20px;
transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
transform: rotateX(0deg);
-webkit-transform-origin: 50% 50% -20px;
-moz-transform-origin: 50% 50% -20px;
transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
color: transparent;
-webkit-transform: rotateX(-90deg);
-moz-transform: rotateX(-90deg);
transform: rotateX(-90deg);
}


  /* ------ */



/*  stast grid  */
.grid{
    background-color: #777;
    padding: 30px 10px;
    margin: auto;
}
.grid .btn{
    padding-bottom: 20px;
}
.grid .btn ul{
    cursor: pointer;
}
.grid .btn li{
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #000;
    padding: 5px;

}
.grid .cdr{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    align-content: flex-end;
    row-gap: 10px;
    
}
.grid .cdr .divise{
    height: 100px;
    width: 100%;
    background-image: url('../img/img1.jpg');
    color: #fff;
    border-radius: 5px;
    padding: 15px;
}
.grid .cdr .divise h3{
    text-align: center;
}
.grid .cdr .divise p{
    text-align: center;
    padding-top: 10px;
}
/* end grid  */

/* grid-images  */
.grid-images{
    margin: 0;
	padding: 0;
}
.grid-images h1{
	text-align: center;
	font-size: 4em;
	font-family: monospace;
}
.grid-images ul , li{
	list-style: none;
	padding: 0;
    margin: 3px;
}
.grid-images .grid-wrap{
	position: relative;
    padding: 10px;
}
.grid-images .grid-wrap ul{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(80px,auto));
	grid-auto-flow: dense;
	grid-gap: 2px;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
}
.grid-images .grid-wrap ul li{
	position: relative;
    box-shadow: 4px 4px 3px #444;
}
.grid-images .grid-wrap ul li:nth-child(1){
	grid-row: span 2;
	grid-column: span 2;
}
.grid-images .grid-wrap ul li:nth-child(2){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(3){
	grid-row: span 3;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(4){
	grid-row: span 2;
	grid-column: span 3;
}
.grid-images .grid-wrap ul li:nth-child(5){
	grid-row: span 3;
	grid-column: span 6;
}
.grid-images .grid-wrap ul li:nth-child(6){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(7){
	grid-row: span 3;
	grid-column: span 3;
}
.grid-images .grid-wrap ul li:nth-child(8){
	grid-row: span 1;
	grid-column: span 5;
}
.grid-images .grid-wrap ul li:nth-child(9){
	grid-row: span 3;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(10){
	grid-row: span 2;
	grid-column: span 5;
}
.grid-images .grid-wrap ul li:nth-child(11){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(12){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(13){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(14){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(15){
	grid-row: span 4;
	grid-column: span 5;
}
.grid-images .grid-wrap ul li:nth-child(16){
	grid-row: span 1;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(17){
	grid-row: span 1;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(18){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(19){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul li:nth-child(21){
	grid-row: span 2;
	grid-column: span 4;
}
.grid-images .grid-wrap ul img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.grid-images .grid-wrap ul li:hover{
	filter: opacity(0.8);
	transition: .2s;
	cursor: pointer;
}
/* grid-images  */


/* footer */
footer{
    background-color: #333;
    padding: 20px 0 40px;
    height: 30px;
}
footer h5{
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
